.TopRow{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;  
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}